{% extends "layout.html" %}

{% block main %}
    <h3> Order count: {{cnt}}</h3>
    {% if cnt > 0%}
    <table>
        <thead>
            <tr>
                <th>Status</th>
                <th>Train ID</th>
                <th>From</th>
                <th>Leaving Time</th>
                <th>To</th>
                <th>Arriving Time</th>
                <th>Price</th>
                <th>Shares</th>
            </tr>
        </thead>
        <tbody>
        {% for record in records %}  
            <tr>
            {% for item in record %}
                <td>{{item}}</td>
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}