{% extends "layout.html" %}

{% block main %}
    <h3> Train ID: {{train_id}}</h3>
    <h3> Type: {{train_type}}</h3>
    <table>
        <thead>
            <tr>
                <th>Station</th>
                <th>Arriving Time</th>
                <th>Leaving Time</th>
                <th>Price</th>
                <th>Seats</th>
            </tr>
        </thead>
        <tbody>
        {% for record in records %}  
            <tr>
            {% for item in record %}
                <td>{{item}}</td>
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}